@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<h1>The Joel Hilton Film Collection</h1>
<img src="https://byu.box.com/s/8sjz2qei13h4nnlw0e6gc10ot35octkf" alt="Joel Hilton">
@model IEnumerable<Mission06_Bellini.Models.Movie>

<h2>Movie Collection</h2>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Category</td>
                <td>@movie.Year</td>
                <td>@movie.Director</td>
                <td>@movie.Rating</td>
                <td>@(movie.Edited == true ? "Yes" : "No")</td>
                <td>@movie.LentTo</td>
                <td>@movie.Notes</td>
            </tr>
        }
    </tbody>
</table>
